.conteudo{
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.img-1{
    grid-row: span 2;
    align-self: end;
}

.img-2{
    align-self: end;
}